@using Application.Entities;
@model Web.ViewModels.ProductViewModel;

<form asp-controller="Product" asp-action="Update" method="POST">    
    @Html.AntiForgeryToken()

    <input asp-for="ProductId" type="hidden">

    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Name" class="form-label">Nombre *:</label>
            <input asp-for="Name" class="form-control form-control-sm" placeholder="Nombre del producto">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>    
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Description" class="form-label">Descripción *:</label>
            <input asp-for="Description" class="form-control form-control-sm" placeholder="Descripción del producto">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Price" class="form-label">Precio *:</label>
            <input asp-for="Price" class="form-control form-control-sm" placeholder="Precio del producto">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>     
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="CategoryId" class="form-label">Categoría *:</label>
            <select asp-for="CategoryId" class="form-select form-select-sm" asp-items="@(new SelectList(Model.categories, "CategoryId", "Name"))">
                <option value="">---Selecciona una Categoría---</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="UserId" class="form-label">Usuario *:</label>
            <select asp-for="UserId" class="form-select form-select-sm" asp-items="@(new SelectList(Model.users, "UserId", "NombreCompleto"))">
                <option value="">---Selecciona un Usuario---</option>
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Actualizar</button>
    </div>
</form>