@using Web.ViewModel

@model ProductCreateViewModel;

@*  

public string Name {get; set;} = "";
public string? Description {get; set;}
public int Price {get; set;}
public int CategoryId {get; set;}
public int UserId {get; set;}

*@

<form action="" method="post">
    <partial name="_Form" model="Model">

    <p><button type="submit" class="btn btn-success">Guardar</button></p>
</form>