@using Application.Entities
@model Product

<h1 class="border-bottom border-2 border-success">Nuevo Producto</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div>
                <div class="my-2">
                    <div>Nombre del producto:</div>
                    <input type="text" asp-for="@Model.Name">
                </div>
                <div class="my-2">
                    <div>Descripción:</div>
                    <input type="text" asp-for="@Model.Name">
                </div>
                <div class="my-2">
                    <div>Precio</div>
                    <input type="text" asp-for="@Model.Name">
                </div>
                <div class="my-2">
                    <div>ID de Categoría</div>
                    <select class="form-select">
                        @for(int i = 0; i<10; i++){
                            <option value=@i>@i</option>
                        }
                    </select>
                </div>
                <div class="my-2">
                    <div>Usuario</div>
                    <select class="form-select">
                        <option value="Alice">Alice</option>
                        <option value="Bob">Bob</option>
                        <option value="Charlie">Charlie</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>