@using Application.Entities

@model Product

<table>
    <tbody>
        <tr>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>@Model.Precio</td>
        </tr>
    </tbody>
</table>