@using Application.Entities

@model List<Product>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>danger</strong> @ViewBag.Error
    </div>
}



<div class="action-cards-container">
    <a asp-action="Create" class="action-card">
        <div class="action-card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </div>
        <h3 class="action-card-title">Crear un Nuevo Producto</h3>
        <p class="action-card-description">Agrega un nuervo producto a tu inventario</p>
    </a>

   @*  <a asp-action="Update" class="action-card">
        <div class="action-card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </div>
        <h3 class="action-card-title">Modificar Producto</h3>
        <p class="action-card-description">Modifica el detalle de un producto ya existente</p>
    </a> *@
</div>

<div class="table-responsive">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>
                        <a asp-action="Detail" asp-controller="Product" asp-route-id="1" class="btn btn-primary">Consultar</a>
                        <a asp-action="Update" asp-controller="Product" asp-route-id="1" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-controller="Product" asp-route-id="1" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>