@using Application.Entities

@model List<Product>

<style>
    body{
        text-align: center;
    }
</style>

@if(ViewBag.Error!=null){
    <div class="alert alert-danger" role="alert">
        <strong>danger</strong> @ViewBag.Error
    </div>
}

<table>
    <thead>
        <tr>
            <h1>Lista de productos</h1>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model){
            <tr>
                <td>@p.Name</td>
            </tr>
        }
    </tbody>
</table>