@using Application.Entities
@model List<Application.Entities.Product>;

@{
    ViewData["Title"] = "Productos";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-left">
    
    <div class="card">
        <div class="card-body">
            <h2 class="d-flex align-items-center">
                <span class="material-symbols-outlined me-1" style="font-size: 40px;">
                    package_2
                </span>
                Productos
            </h2>
            <hr>
            <div class="col-12 mb-3">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary d-inline-flex align-items-center">                    
                    <span class="material-symbols-outlined me-1">
                        add
                    </span>
                    Nuevo Producto
                </a>
            </div>
            <hr>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 5%;">Store</th>
                        <th style="width: 75%;">Nombre</th>
                        <th style="width: 20%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() > 0){
                        @foreach(Product producto in Model){
                            <tr>
                                <td><img src="~/img/awesome-face-png-1.png" alt="" width="25" height="25"></td>
                                <td>@producto.Name</td>
                                <td>
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id="1" class="btn btn-success d-inline-flex align-items-center action-btn" 
                                    data-toggle="tooltip" data-placement="top" title="Editar Producto">
                                        <span class="material-symbols-outlined me-1">
                                            edit_document
                                        </span>
                                    </a>                                
                                    <a class="btn btn-danger d-inline-flex align-items-center action-btn" 
                                    data-toggle="tooltip" data-placement="top" title="Eliminar Producto">
                                        <span class="material-symbols-outlined me-1">
                                            delete
                                        </span>
                                    </a>                          
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="1" class="btn btn-light d-inline-flex align-items-center action-btn" 
                                    data-toggle="tooltip" data-placement="top" title="Detalles Producto" style="border: 1px solid;">
                                        <span class="material-symbols-outlined me-1">
                                            visibility
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }else{
                        <tr>
                            <td class="text-muted" colspan="3">
                                No hay productos para mostrar
                                <br>
                                <img src="~/img/empty.png" alt="" width="300" height="250" style="opacity: 0.65;">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>    
        </div>
    </div>
</div>
