@using Application.Entities
@model Product

<h1 class="border-bottom border-2 border-warning">Edit product details</h1>

<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <partial name="_Form" model="Model">
            <button class="btn btn-success float-end" type="submit">Save changes</button>
        </form>
    </div>
</div>
