@model Application.Entities.User;

<form asp-controller="User" asp-action="Update" method="POST">    
    @Html.AntiForgeryToken()

    <input asp-for="UserId" type="hidden">

    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Name" class="form-label">Foto *:</label>
            <input type="file" class="form-control form-control-sm" placeholder="Foto del usuario">
            <img src="~/img/user.png" alt="" width="140" height="140">
        </div>
    </div>   
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Name" class="form-label">Nombre (s) *:</label>
            <input asp-for="Name" class="form-control form-control-sm" placeholder="Nombre del usuario">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>    
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Primer_Apellido" class="form-label">Primer Apellido *:</label>
            <input asp-for="Primer_Apellido" class="form-control form-control-sm" placeholder="Primer Apellido">
            <span asp-validation-for="Primer_Apellido" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="col-12">
            <label asp-for="Segundo_Apellido" class="form-label">Segundo Apellido *:</label>
            <input asp-for="Segundo_Apellido" class="form-control form-control-sm" placeholder="Segundo Apellido">
            <span asp-validation-for="Segundo_Apellido" class="text-danger"></span>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Actualizar</button>
    </div>
</form>