@model Application.Entities.User;

@{
    ViewData["Title"] = "Nuevo Usuario";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="card-body">
        <h3>Registro de Usuario</h3>
        <hr>
        <form asp-controller="User" asp-action="Store" method="POST">    
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <div class="col-12">
                    <label asp-for="Name" class="form-label">Foto *:</label>
                    <input type="file" name="foto" class="form-control form-control-sm" placeholder="Foto del usuario">
                    <img src="~/img/user.png" alt="" width="140" height="140">
                </div>
            </div>  
            <div class="mb-3">
                <div class="col-12">
                    <label asp-for="Name" class="form-label">Nombre (s) *:</label>
                    <input asp-for="Name" class="form-control form-control-sm" placeholder="Nombre del usuario">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>    
            <div class="mb-3">
                <div class="col-12">
                    <label asp-for="Primer_Apellido" class="form-label">Primer Apellido *:</label>
                    <input asp-for="Primer_Apellido" class="form-control form-control-sm" placeholder="Primer Apellido">
                    <span asp-validation-for="Primer_Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-12">
                    <label asp-for="Segundo_Apellido" class="form-label">Segundo Apellido *:</label>
                    <input asp-for="Segundo_Apellido" class="form-control form-control-sm" placeholder="Segundo Apellido">
                    <span asp-validation-for="Segundo_Apellido" class="text-danger"></span>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>