@using Application.Entities
@using Web.ViewModel

@model Category

<h1>Detalles del producto</h1>

<p>
    <a class="btn btn-warning" asp-action="Update" asp-route-id="@Model.CategoryId">Editar</a> <br>
</p>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                @Model.Name <br>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>