@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h4>Tienda en Línea de Kroces</h4>
    <p>Aquí podras realizar compras sobre nuestros productos, los cuales son de los mejores del mundo en su categoría.</p>
    <img src="~/img/awesome-face-png-1.png" alt="">
</div>
