@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Bienvenidos a la tienda</h1>
    <img id="imagenInicio" src="~/images/green_glow_guitar.png" />
</div>
