@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center rounded-5 contenedor-borde-verde" style="background-color: black;">
    <h1 class="display-4 text-light" style="font-family: Georgia, 'Times New Roman', Times, serif;">Bienvenidos</h1>
    <img id="imagenInicio" src="~/images/green_glow_guitar.png" />
</div>
