@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="img-container rounded-5 contenedor-borde-verde h-50 text-center" style="background-color: black;">
        <h1 class="display-4 text-light" style="font-family: Georgia, 'Times New Roman', Times, serif;">Bienvenidos</h1>
        <img class="img-fluid rounded-5 w-25" src="@Url.Content("~/images/green_glow_guitar.png")" />
    </div>
</div>
