@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="rounded-5 contenedor-borde-verde text-center px-5 py-4"
        style="background-color:#f3f0e5ff; width: 90%; max-width: 1200px;">
        
        <img 
            src="@Url.Content("~/images/Stylized_Lego_Flower_Logo.png")"
            class="img-fluid rounded-5"
            style="max-height: 65vh; max-width: 100%; object-fit: contain;"
        />
    </div>
</div>