@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="col-12 d-flex justify-content-center">
    <div class="card my-card">
        <h1 class="my-h1 d-flex align-items-center">
            <span class="material-symbols-outlined me-1" style="font-size: 50px;">
                shield_locked
            </span>
            Política de Privacidad
        </h1>

        <p>
            Bienvenido/a a esta página de Tienda en Línea Kroces. Aquí podras encontrar toda clase de productos utiles e inutiles.
        </p>

        <p>
            No recopilamos información personal sensible a propósito, pero
            recuerda que esto es internet: a veces el lag y las filtraciones existen y las cosas
            no siempre salen como en el tutorial.
        </p>

        <div class="warning">
            <p>
                <strong>Advertencia:</strong><br>
                No introduzcas información que no te gustaría ver en una
                pantalla ajena. Esto incluye listas de compras sospechosas,
                compras impulsivas o cualquier cosa que te daría vergüenza
                explicar.
            </p>
            <div class="col-12 d-flex justify-content-center">
                <small class="text-muted text-center d-flex align-items-center">
                    No garantizamos que tu lista de compras no se haga publica. 
                    <span class="material-symbols-outlined me-1" style="color: red;">
                        heart_smile
                    </span>
                </small>
            </div>
        </div>

        <p>
            Usa la página con sentido común, juega limpio y recuerda:
            si algo parece mala idea… probablemente lo sea.
        </p>

        <div class="text-muted text-center mt-3">
            <div class="col-12 mb-2"> Atentamente, Equipo de Kroces Store.</div>
            <img src="~/img/awesome-face-png-1.png" alt="" width="100" height="100">
        </div>
    </div>
</div>
