@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card w-100 bg-secondary-subtle">
    <div class="card-body">
        <h1 class="text-center">@ViewData["Title"]</h1>

        <div class="m-5 text-center img-container">
            <img class="img-fluid" src="@Url.Content("~/Images/another_lego_flower.jpg")" alt="">
        </div>
    </div>
</div>
