html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin-bottom: 60px;
} */

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.imagen-fondo{
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("/images/lego_flowers_bg2.jpg");
  background-size:contain;
  background-repeat:space;
  background-position:center bottom;  
  /* filter: brightness(50%); */
}

.contenedor-borde-verde{
  border: 4px solid #cefc73;
}

.navbar-verde{
  border-bottom: 4px solid rgb(207, 252, 115) !important;
}

.text-verde{
  color: rgb(207, 252, 115);
}

.footer-verde{
  border-top: 4px solid rgb(207, 252, 115) !important;
  color: rgb(207, 252, 115);
}

.nav-link.custom-link {
  color: #fff !important; /* Default text color */
  transition: color 0.3s !important; /* Smooth transition effect */
}

/* Change the color when hovering over the link */
.nav-link.custom-link:hover {
  color: #cefc73 !important; /* New text color on hover (e.g., Bootstrap yellow warning color) */
}